# Problem
Search the website. 
http://www.sfc.hk/publicregWeb/searchByName

Input name and get the table returned by website

## Sample names

`Kuen Leung
Jansen Leung
David Wong
Kit Wong Fu
Raymond Choi`

In [1]:
import json
import requests
import pandas as pd

In [2]:
li = ['Kuen Leung','Jansen Leung','David Wong','Kit Wong Fu','Raymond Choi']

find the api, use **POST** method.

In [3]:
url = "http://www.sfc.hk/publicregWeb/searchByNameJson"
para = {'licstatus':'active',
'searchbyoption':'byname',
'searchlang':'en',
'entityType':'individual',
'searchtext':''}
df_all = pd.DataFrame([])

In [4]:
for name in li[:3]:
    para['searchtext'] = name
    print (name,"....",end='')
    req = requests.post(url,data=para)
    dic = json.loads(req.text)['items']
    if dic:
        df = pd.DataFrame(dic)
        df = df.assign(oname = name)
        df_all = pd.concat([df_all,df])
    print ('ok')

Kuen Leung ....ok
Jansen Leung ....ok
David Wong ....ok

In [5]:
df_all.head()

,address,ceref,entityType,hasActiveLicence,isActiveEo,isCorp,isEo,isIndi,isRi,name,nameChi,oname
0,None,ATM775,None,Y,N,False,False,True,False,LEUNG Hon Kuen,梁漢權,Kuen Leung
1,None,AAD236,None,Y,N,False,False,True,False,LEUNG Wai Kuen,梁偉權,Kuen Leung
2,None,BIB355,None,Y,N,False,False,True,False,LEUNG Cheuk Kuen,梁焯權,Kuen Leung
3,None,AAE681,None,Y,N,False,False,True,False,"LEUNG Lai Kuen, Jessica",梁麗娟,Kuen Leung
4,None,ADC294,None,Y,N,False,False,True,False,"LEUNG Mei Kuen, Dannise",梁美娟,Kuen Leung